:root {
  --color-darkest: #27374d;
  --color-dark: #526d82;
  --color-medium: #9db2bf;
  --color-light: #dde6ed;

  --color-theme: #36ba98;
  --color-accent: #e76f51;
}

.timer {
  float: left;
  font-size: 1rem;
  color: var(--color-dark);
  border: 2px solid var(--color-darkest);
  padding: 1.35rem 2.8rem;
  border-radius: 100px;
}
