:root {
  --color-darkest: #27374d;
  --color-dark: #526d82;
  --color-medium: #9db2bf;
  --color-light: #dde6ed;

  --color-theme: #36ba98;
  --color-accent: #e76f51;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}

.btn-option {
  width: 100%;
  text-align: left;
}

.quiz .btn-option.correct {
  background-color: var(--color-theme);
  border: 2px solid var(--color-theme);
  color: var(--color-light);
}
.quiz .btn-option.wrong {
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  color: var(--color-light);
}

.answer {
  transform: translateX(2rem);
}
